<h1><%= @user.nombre %> Tienes una nueva cita!</h1>

<p>
	Hola <%= @user.nombre %>! Tienes una cita con <%= @customer.nombreClt %> <%= @customer.apaternoClt %> en dia <%= @date %> en este horario: <%= @hour %>
</p>